<h2>Project</h2>
<p>AwareMe</p>

<h2>Description</h2>
<p>A wearable that helps people with fear of public speaking to overcome their anxiety</p>

<h2>My role</h2>
<p>Heuristic evaluation, card sorting, grounded theory analysis, interviews, report writing for development team</p>

<h2>Notes</h2>
<p>brainstorming, sketching, interaction design, user research, user testing</p>

<p>This was a team project for my Design Practice class.</p>

<a target="_blank" href="/files/MarkBubel-DesignPractice.pdf">Download my portfolio to see my design process (pdf, 5.5mb)</a>