<h2>Brook Website</h2>
<p class="summary-highlight">Brook was aware that their website services needed to be redesigned from past research. I chose a part of Brook's website to identify strengths, weaknesses and new user requirements to improve their services.</p>
<a target="_blank" href="https://www.brook.org.uk">https://www.brook.org.uk</a>

<h2>My role</h2>
<ul>
    <li>Heuristic evaluation</li>
    <li>card sorting</li>
    <li>grounded theory analysis</li>
    <li>semi-structured interviews</li>
    <li>report writing for Brook development team</li>
</ul>

<h2>Evaluation Summary</h2>
<p>The initial goal of the evaluation was to focus on the Your Life section of the website because it was identified by Brook as important. Interestingly, during interviews, two more features of the website were discussed by participants, thus yielding the following discussion of findings and requirements.</p>
<ol>
    <li>Navigation is inadequate in the Y our Life section.</li>
    <li>The information is lacking when it is found.</li>
    <li>The Shop and Ask Brook 24/7 features are confusing.</li>
</ol>

<h2>Key Positive Findings</h2>
<p>The interviewees all correctly identified Brook as a website for teenagers through young adults. Furthermore, they reported it was a sexual health information website. Both of these were reported early in the interview with little prompting needed. This is a sign that the visual design of the website is appropriate and should not drastically change.</p>
<p>The A sk Brook 24/7 feature was liked by all interviewees. They appreciated how it allowed them to find the content they needed without searching through the M y Life section. One interviewee referred to it as the “lazy way of finding something.” This reinforces that the feature demands minimal effort of the user to find information. However, further in the report, you will find this feature needs work.</p>

<h2>Key Issues to Address</h2>
<p>Interviewees reported that it was hard to find specific information in the Y our Life section. Specifically, the navigation at the bottom of each content page was difficult to find by the interviewees and hard to identify as navigation within the section. This is classified as a major usability problem, and it should have a high priority to fix.</p>
<img class="u-max-full-width" src="/files/brook/current-nav-menu.png" alt="">
<p>Another key issue to address is the A sk Brook function.This was thought to be a live chat service by interviewees. This function offers enormous potential for users; interviewees all reported that it was useful after figuring out what it actually did.</p>

<h2>User Requirements Discovered</h2>
<p>These requirements address the target population’s needs and goals.</p>
<ol>
    <li>Users need more trust in the Brook website. Websites like NHS and WebMD were mentioned as places for official information, so Brook should think about providing a way to show that information is medically valid or reviewed.</li>
    <li>Users need the the shop section better defined. When interviewees visited the shop, it took them some time to understand the material available was mostly for educators and not for young adults.</li>
    <li>Similar to (2), interviewees did not at first realize that Brook caters to at least two audiences. Users need Brook to make a better distinction between information meant for young adults and information meant for another audience.</li>
    <li>Users need information that is relevant, of the appropriate length, and that offers downloads of further information. Specifically, the length of the text was mentioned by all interviewees. They said that they probably would not read all of it. They just wanted to find the specific topic in which they were interested.</li>
    <li>Every interviewee had the wrong interpretation of the A sk Brook 24/7 service until they actually used it. Predictability, the name of the feature led participants to believe it was a live chat service. After they used the feature, they were confused as to why it was in the main navigation and not within the Y our Life section. Further, they were confused as to why it was given that name. Users must understand that this is actually an information finding tool. They said it was helpful, but only after they realized what it did. It is suggested to integrate this feature into the Y our Life section.</li>
    <li>The navigation section at the bottom of every Y our Life section was missed by interviewees or interpreted as something else. One interviewee stated: “I probably wouldn't have clicked on that. It looks like a site map.” Users need the Y our Life to support navigation that is discoverable and provide options for sorting/selection. The navigation should suggest an order in which to move through the content, so that users can easily browse or be guided to what they need. See F igure 2 for the results of an open card sort.</li>
    <li>Interviewees found the information in Y our Life too basic. Users need detailed, medical and lifestyle advice in order to make important decisions. Brook should consider a content inventory and analysis of the Your Life section.</li>
</ol>
<img class="u-max-full-width" src="/files/brook/open-card-sort-result.png" alt="Results of the open card sort">
<a target="_blank" href="/files/BrookDevelopmentTeamReport.pdf">Download the report to Brook's development team (pdf, 451kb)</a>
