<h2>Brook Website</h2>
<p>Brook was aware that their website services needed to be redesigned from past research. I chose a part of Brook's website to identify strengths, weaknesses and new user requirements to improve their services.</p>
<a target="_blank" href="https://www.brook.org.uk">https://www.brook.org.uk</a>

<h2>Description</h2>


<h2>My role</h2>
<p>Heuristic evaluation, card sorting, grounded theory analysis, interviews, report writing for development team</p>

<h2>Notes</h2>
<p>This was an individual project for my Understanding Usability and Use class.</p>

<a target="_blank" href="/files/BrookDevelopmentTeamReport.pdf">Download the report to Brook's development team (pdf, 451kb)</a>
