
<h1>EchoEyes</h1>
<p class="summary-highlight">Helping the blind see with sound using a physical computing prototyping process.</p>

<h2>Exploration and Motivation</h2>
<p>A wearable device that helps the blind and low vision users see with sound</p>
<img class="u-max-full-width" src="/files/echo-eyes/explore-motivation.png" alt="">
<div class="container">
  <div class="row">
    <div class="six columns">
        <h3>Motivation</h3>
        <p>Around the world, 314 million have a vision disability, and using a guiding cane is a major way for these people to navigate their environment.
A guiding cane is low cost, portable, and it’s a recognized symbol of disability. However, the problem with guiding canes is that they cannotsenseobjectshigherup-likeatchestheight-orobjects that are farther away. Previous prototypes to solve this problem resulted in expensive electronics on the cane or head-mounted cameras. Social acceptability is another consideration! People will not want to wear something that calls attention to their disabilities.</p>
    </div>
    <div class="six columns">
        <h3>Hardware Exploration</h3>
        <p>Whilst brainstorming my idea, I experimented with various sensors and hardware for Arduino Uno. Figures 1, 2, and 3 show analog data (via force sensor) being recorded to a SD card. This exploration was important to my thought process because it inspired me to think how sensors could help people with Multiple Sclerosis torecordandsharedatawiththeirGP. This device can help the patient understand how their strength is changing over time.</p>
<p>While my final idea didn't relate to MS, I did want to
build something that helps a medical disability, and
this exploration did spark my interest in helping to augment technology that helps the blind and low vision users.</p>
        </div>
  </div>
</div>

<h2>Form Factor &amp; Idea Sketching</h2>
<h3>What should it look like?</h3>
<p>I wanted to build something that did not involve the guiding cane because of the expense. I wanted it to be fun, so I thought about something wearable that may look fashionable.</p>
<p>I thought about a wearable device that one could pin to oneself. However, given the weight of the Arduino Uno, sensors, and likely the need to hold a battery, I realized it would be too heavy to be a pin.</p>
<p>I then thought about something that was easy to remove – something around the neck. I found a lanyard with keycard and decided that perhaps the form factor was worth exploring.</p>

<div class="container">
  <div class="row">
    <div class="eight columns">
        <h3>Idea Sketching</h3>
        <p>I didn’t immediately dismiss a wearable that can be pinned to clothing. Figure 3 shows a paper sketch of a blind person wearing it. However, the weight of the prototype plus the difficulty had by a low vision user may discourage further exploration.</p>
    </div>
    <div class="four columns">
        <img class="u-max-full-width" src="/files/echo-eyes/idea-sketching.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
        <h3>More Idea Sketching</h3>
        <p>Another early idea was a prototype worn on the wrist&mdash;a rather popular place for wearable devices. However, I received invaluable feedback from colleagues with concerns about constant wrist movement and sensor calibration. I decided against this design and reflected on how important it was to share design feedback with others.</p>
    </div>
    <div class="four columns">
        <img class="u-max-full-width" src="/files/echo-eyes/idea-sketching-2.png" alt="">
    </div>
  </div>
</div>

<h2>Sketching with Cardboard</h2>
<img class="u-max-full-width" src="/files/echo-eyes/sketching-w-hardware.png" alt="">
<div class="container">
  <div class="row">
    <div class="six columns">
        <h3>Easier than Wireframes</h3>
        <p>What I really love about using cardboard (or similar) for fast prototyping is that there’s no technology involved, but ideas are immediately tangible and lucid&mdash;something that’s missing from paper sketching. I was able to move from paper to a tangible model quickly.</p>
    </div>
    <div class="six columns">
        <h3>Worn Around the Neck</h3>
        <p>Figure 1, 2, and 3 show a final paper sketch transforming into a cardboard prototype – a valuable tool in the physical prototyping toolbox. This first cardboard mockup is an amalgamation of the pin and lanyard ideas, but I did refine it later in the design process.</p>
        </div>
  </div>
</div>

<h2>Cardboard Sketching Refinement</h2>
<img class="u-max-full-width" src="/files/echo-eyes/cardboard-sketching-refinement.png" alt="">
<div class="container">
  <div class="row">
    <div class="four columns">
        <h3>Cardboard iteration</h3>
        <p>Figure 1 shows the old version from the previous page along with the new version (right). This iteration shows that I’ve moved away from the pin badge design and moved to a design worn around the neck. I think this design is easier to remove, and since it’s a rectangle, there’s no empty space left inside.</p>
    </div>
    <div class="four columns">
        <h3>Wearing the prototype</h3>
        <p>Figure 1, 2, and 3 show a final paper sketch transforming into a cardboard prototype – a valuable tool in the physical prototyping toolbox. This first cardboard mockup is an amalgamation of the pin and lanyard ideas, but I did refine it later in the design process.</p>
        </div>
        <div class="four columns">
        <h3>Hardware fitting</h3>
        <p>Unfortunately, I made a mistake in measuring the space required for the hardware, and the cardboard ‘case’ was a bit snug for everything. This does suggest a downside of using cardboard mockups because a problem like this could be changed using software design programs in seconds. A lack of digital tools like ‘undo’ can also make working with cardboard tedious.</p>
        </div>
  </div>
</div>


<a target="_blank" href="/files/MarkBubel_PhysicalComputing.pdf">Download my portfolio to see my design process (pdf, 23.4mb)</a>