<div class="container">
    <div class="row">
        <div class="three columns">
            <img class="u-max-full-width" src="/files/imageofmarkbubel.jpg" alt="Picture of Mark Bubel">
        </div>
        <div class="nine columns">
            <h1>I'm a <em>human centered</em> researcher and designer.</h1>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p>What I'm passionate about is helping people, so I want to use my HCI education and past experience in fields such
            as healthcare or technology for good. I truly believe that better design is the way to save and improve our lives.
            You'll see this belief reflected in my work. I'm a MSc student at University College London studying Human-Computer
            Interaction with Ergonomics. My class modules have prepared me work as an interaction designer, user researcher
            and even ergonomist. Before I joined UCL, I worked for 5 years in the student loan servicing industry in the
            US. I was the sole UX specialist for my company's websites, products and services.</p>
            <a class="button button-primary" href="#/work">View my work</a>
        </div>
    </div>
</div>

        