<h2>Project</h2>
<p>Lambeth Council (London, UK)</p>

<h2>Description</h2>
<p>Designing data visualization software to support council initiatives. Lambeth Council in London needed a new way to support making decisions based on collected council data. They did not have data visualization software in use, so we started from scratch..</p>

<h2>My role</h2>
<p>Brainstorming, sketching, prototyping, usability testing with council members</p>

<h2>Notes</h2>
<p>This was an group project for my Design Experience 2 class, so the download is a presentation on which our team worked on together. However, the prototyping and testing phases feature much of my work.</p>

<iframe src="https://docs.google.com/presentation/d/10ZYeAnOlzNMjrKHNeYmvBqb5lwsaalKXIL-J-i2Ljng/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<a target="_blank" href="/files/Lambeth-Design-Presentation.pdf">Download the design presentation (pdf, 6.6mb)</a>