<h1>My Resume</h1>

<a class="button button-primary" href="/files/MarkBubelUserExperienceCV.docx">Download resume (.docx)</a>

<h2>Summary</h2>
<p>I am a user experience designer with five years’ of experience who understands the theory behind everything that I create. I take a human-centered approach to every design project: user research, prototyping, testing, and iteration. I think beautiful designs are just hollow shells without consideration of the real people for whom they are made.</p>

<h2>MSc Human Computer Interaction with Ergonomics</h2>
<p>University College London, September 2015 to September 2016</p>
<p>Graduated with Merit</p>
<p>Awarded a mark of Merit for MSc Dissertation: Assistive Technology Design Guidelines to Support Independence for People Who Have Dementia. Findings are being considered for future publication.</p>

<h2>BA English with Technical Writing</h2>
<p>University of Delaware, September 2006 to May 2010</p>
<p>Minor, Computer Science</p>

<h2>User Research Assistant at Sony PlayStation Europe</h2>
<p>June 2016, London, UK</p>

<p>Working with a tight, one-day schedule, I assisted in guiding 80 participants through virtual reality usability testing for a developing PlayStation 4 game.
Engaged with users by explaining the user test process, what would happen, and why they were doing it. 
Guided participants through an online pre- and post-test questionnaire about motion sickness and helped fit VR gear to their body.
Learned about managing the researcher-participant interaction, controlling for bias factors, and determining how to move a slow usability test forward.</p>

<h2>User Experience Specialist at Access Group, Inc.</h2>
<p>May 2010 to August 2015, Pennsylvania, USA.</p>
<p>I established, contributed to, and led user experience direction and made strong, technical contributions for the company’s projects and services in a multi-disciplinary role.</p>

<ul>
    <li>Built wireframes and storyboards to clearly articulate ideas and interaction design functions for the company’s website redesign. This redesign increased press, web visits, service adoption, and company image on social media.</li>
    <li>Planned and led multiple quantitative and qualitative user research initiatives.</li>
    <li>Designed user research surveys as a way to continuously measure engagement with actual users. The result was a steady increase in webinar attendance plus ideas for new webinars that were never before considered.</li>
    <li>Conducted quantitative user research that improved key performance indicators (KPIs) of email campaigns by 20%.</li>
    <li>Created and led a qualitative user research plan to increase web service engagement. This led to a 10% increase in email marketing engagement among potential customers and helped to stimulate conversation at trade shows.</li>
    <li>Applied quantitative user research insights to inform qualitative user research. Using Google Analytics, I demonstrated to management that numbers and trends can be translated to tangible ideas to help solve UX problems.</li>
    <li>Designed user research test scenarios for a new web calculator. These scenarios formed a valid foundation instead of starting from scratch in a potentially wrong direction.</li>
    <li>Guided senior management to a vital decision about the website redesign: a content-based or audience-based information architecture. This decision resulted in 20% lower web page bounce rates and deeper exploration of web pages.</li>
    <li>Responsible for user experience writing for the company’s web-based product. </li>
    <li>Saved thousands of dollars from the budget as the sole web developer and maintainer of the previous version of the corporate website. This included server setup using WordPress, authoring all HTML and CSS, and scripting basic functionality with the jQuery library and PHP.</li>
</ul>

<h2>Web Marketing Internship at Access Group, Inc.</h2>
<p>June 2009 to August 2009, Delaware, USA.</p>
<p>A summer internship during my undergraduate degree where I learned the basics of web marketing and development, user experience, teamwork, and project management.</p>

<ul>
<li>Introduced to the realm of user experience by making suggestions to improve the company’s web-based product. </li>
<li>Managed all content updates for the corporate website. This included light HTML and CSS authoring for web pages and email campaigns.</li>
<li>Wrote content for marketing emails with the specific aim of increasing click through rates. </li>
<li>Managed a summer-long university scholarship contest aimed to increase goodwill, public visibility, and knowledge of Access Group and its services within the industry.</li>
</ul>

<h2>Awards</h2>
<p>Awarded a team honorary mention for the Student Design Competition hosted by the annual ACM CHI Conference, May, 2016. Our design competed against a 9% selection rate from world-wide entries.</p>

<h2>Publications</h2>
<p>AwareMe: Addressing Fear of Public Speech through Awareness</p>

<h2>Skills</h2>
<ul>
    <li>3d printing</li>
    <li>Heuristic analysis</li>
    <li>Sketching</li>
    <li>Affinity diagramming</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Storyboarding</li>
    <li>Arduino programming</li>
    <li>Interviews</li>
    <li>Technical writing</li>
    <li>Card sorting</li>
    <li>InVision</li>
    <li>Transcribing</li>
    <li>Laser cutting</li>
    <li>Usability testing</li>
    <li>Contextual inquiry</li>
    <li>Observations</li>
    <li>User centered design</li>
    <li>Experiment design</li>
    <li>Photoshop</li>
    <li>InDesign</li>
    <li>Grounded Theory</li>
    <li>Rapid prototyping</li>
    <li>Hierarchical task analysis</li>
    <li>Sketch app</li>
    <li>Survey design</li>
    <li>Google Analytics</li>
    <li>Wireframing</li>
    <li>Git</li>
</ul>