<h1>Aware Me</h1>
<p>A wearable that helps people with fear of public speaking to overcome their anxiety.</p>

<h2>My Role</h2>
<p>Our team was to research, design and test an assistive technology that solved a real problem. We chose people who have a fear of public speaking. I particpated in brainstorming, sketching, interaction design, user research, and user testing.</p>


<div class="container">
    <div class="row">
        <div class="four columns">
            <h3>Brainstorming</h3>
            <p>At the beginning of the project our team did
a bit of brainstorming to get as many ideas as possible on paper. We thought in broad terms and did not limit ourselves to what was possible or even made sense.</p>
        </div>
        <div class="eight columns">
            <img class="u-max-full-width" src="/files/aware-me/Brainstorm Paper.JPG" alt="Brainstorming">
        </div>
    </div>

    </div>
