body {
    margin:0;
    display: flex;
    justify-content: center;
    padding: 2rem;
   
    font-family: system-ui, sans-serif;
    background-color: #ffffff;
    color: #000000;
    
}

main {
    max-width: 65ch;
    width: 100%;
}

a {
    color: #0C25FF;
}