    <p>Copyright &copy; 2017 Mark Bubel</p>


        <ul class="list-inline">
            <li class="list-inline-item"><a target="_blank" href="mailto:mark.bubel@gmail.com">Email</a></li>
            <li class="list-inline-item"><a target="_blank" href="https://linkedin.com/in/markbubel">LinkedIn</a>
            </li></li>
            <li class="list-inline-item"><a target="_blank" href="https://github.com/markbubel/markbubel.github.io">GitHub</a>
            </li></li>
          </ul>


    </div> <!-- END CONTAINER -->
  </body>
</html>