    <p>Copyright &copy; 2017 Mark Bubel</p>
    
 
      <div class="row">
        <div class="col-sm">
          <a target="_blank" href="mailto:mark.bubel@gmail.com">Email</a>
        </div>
        <div class="col-sm">
          <a target="_blank" href="https://linkedin.com/in/markbubel">LinkedIn</a>
        </div>
        <div class="col-sm">
          <a target="_blank" href="https://github.com/markbubel/markbubel.github.io">GitHub</a>
        </div>
      </div>
    </div> <!-- END CONTAINER -->
  </body>
</html>