<body>
    <div class="container" style="margin-top:20px;">

        <div class="row masthead">
            <div class="three columns">

                <p>Mark Bubel</p>
                <a href="index.html">
                    <img class="img" src="assets/images/MarkBubelFlag.png"  alt="Flag of Mark Bubel">
                </a>
            </div>
            <div class="nine columns">
                <ul class="nav" style="margin-bottom:50px;">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cv.html">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>

                    </li>
                </ul>
            </div>
        </div>