<body>
    <div class="container" style="margin-top:20px;">
        <div class="text-center">
          <a href="index.html">
              <img class="figure-img  img-fluid" src="assets/images/MarkBubelFlag.png" style="max-width: 20%; height: auto;" alt="Flag of Mark Bubel">
          </a>
        </div>

          <ul class="nav justify-content-center">
              <li class="nav-item">
                  <a class="nav-link" href="work.html">Work</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="cv.html">CV</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                  
              </li>
            </ul>
    
 