/*
    Responsive Core Style
*/

    /*Desktop*/
@media (min-width: 1233px) {
	.rspmenu {
		display: none;
	}
    .tablet {
        display:none;
    }

    #tablet_nav {
        display:none;
    }

    #preftr_mobile  {
        display:none;
    }

    .first_position {
        position: relative;
        top: -35px;
    }

    
}

    /*Not Desktop*/
@media (max-width: 1232px) {
    #content_wrapper {
        background-color: white;
        line-height: 1.75em;
    }

   /* .bldg_bg {
        background: none;
    }*/
    
    .navTopBorder {
        display: none;
    }

    .nav_logo {
        width: 90px;
    }

    .footer_block_left,.footer_block_right {
        margin:10px auto;
        float:none;
        text-align: center;
    }

    .footer_block_right, .footer_block_left {
        width: 400px;
    }

    .footer_block_right table {
        margin:0 auto;
    }

    .footer_table {
        margin:0 auto;
        float: none;
    }

    .footer_block_left td {
    padding:0 10px;
}

    .footer_block_right .footer_table, .footer_table td {
        margin:0 auto;
        float:none;

    }

    .td25 td {
        width: 25%;
        text-align: center;
        padding:0 10px;
    }

    .ftr_copy {
        text-align: center;
        width: 100%;
    }

    #footer {
        background-color: #353434;
        background-image: none;
    }
    


}

    /*Tablet*/
@media (min-width: 1000px) and (max-width: 1232px) {
    body {
        margin:0;
     }
    .rspmenu {
        display: none;
    }
    
    .no_tablet {
        display: none;
    }

    #quick_links {
        width: 60%;
    }
        
    .ftr_copy {
        float: left;
    }

    #nav {
        position: relative;
        z-index: 141;
        top: 60px;
        min-width: 100%;
        opacity: 1.0;
        max-height: 50px;
    }

    #tablet_nav {
    background-color: #92c583;
    z-index: 999;
    opacity: .9;
    min-height: 60px;

    }

    #preftr_mobile {
        display:none;
    }
        
    .bldg_bg {
        min-height: 150px;
        background-size: 800px;
        background-position: center;
    } 
    
    .status_block {
        padding:0;
    }
    .status_img {
        padding: 0;
    }
}


    /*Smart phone*/
@media (max-width: 1024px) {
    
    .quicklinks_left {
        width: 100%;
    }

    .quicklinks_right{
        width: 100%;
    }
	
	 .content_block {
    	float:none;
    }

	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
	
	.slicknav_menu{
	display: block;
	}
	
	.search_box {
		position: fixed;
		right: -3%;
		top: 0px;
		z-index: 201;
	}

	body{
		margin:0;
	}

    .td70 {
    width: 60%!important;
}

	#nav_scroll, #nav {
        display: none;
    }

    #tablet_nav {
        display:none;
    }
    
    .tablet {
        display:none;
    }

    #content_left {
        width: 96%;
        max-width: 96%;
        margin:10px 2% 50px 2%;
    }

    #content_right {
        width: 96%;
        max-width: 96%;
        margin:10px 2% 50px 2%;
    }

    #preftr_mobile {
        display: block;
    }

    /*.quicklinks_left {
        display: none;
    }

    .quicklinks_right {
        display: none;
    }*/

    .pf_title {
        padding: 20px 0 0 0;
    }
        
    .status_img {
        width: 100%;
    }

    .status_block {
        float:left;
    }

    .wide50 {
        width: 96%;
        margin:0 2%;
    }

    .trans_block {
        width: 80%;
        margin: 10% 10% 0 10%;
    }

    .transforming {
        min-height: 1000px;
        background-position: 0 0;
        background-size: 1024px;
    }
    
    a:hover.show_hide {
        border-bottom: none!important;
    }

    .bldg_bg {
        background-image: none;
    }

    /*.searchBoxTable input {
        width: 100px;
    }*/

    .quick_links {
        width: 120px;
    }

    .ftr_copy {
        float: left;
    }
 
}


@media (max-width: 850px) {

     #footer {        
        background-image: none;
        background-color: #333;
       
    }
	
	.search_box {
	right:-6%;
	}
	
}

@media (max-width: 500px) {
    
    .search_box {
        position: relative;
        width: 100%;
        padding:0;
        min-width: 256px;
        background-color: #92c583;
        z-index: 145;
		left:0;
    }
	
	.searchBoxTable {
	padding:5px;
	}

    .search_box a:link,
    .search_box a:visited,
    .search_box a:active {
        color: #333!important;
    }

     .footer_block_right, .footer_block_left {
        width: 100%;
    }

    .footer_block_left td {
    padding:0 2px;

}



   


}


/*
    Mobile Menu Core Style
*/
.slicknav_menu {display: none;}
.slicknav_btn { position: relative; display: block; vertical-align: middle; float: left; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.5em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 1em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
    font-family: arial;
    position: fixed;
    z-index: 200;
    min-width: 100%;
    min-height: 51px;

}
/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    background-color: #4c4c4c;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    /*font-weight: bold;*/
    text-shadow: 0 1px 3px #000;
    font-family: arial;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
    background:#4c4c4c;
    padding:5px;
}
.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
   /* font-size:0.875em;*/
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#666666;
    color:#fff;
}
.slicknav_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#666666;
    color:#ffffff;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}

.slicknav_nav li {
    border-top:1px solid #777777;
    border-bottom:1px solid #333333;
}


	}
	


