
/*  ==========================================================================
    STYLES FOR TESTING!!!   REMOVE!!!
    ========================================================================== */







/*  REMOVE ABOVE STYLING!!!!!   END STYLES FOR TESTING!!!   REMOVE ABOVE SYLING!!!!!  */



/*  ==========================================================================
    Begin Custom styles
    ========================================================================== */
	@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/HUD/hudatwork/styles/font/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
  src: local('Open Sans'), local('OpenSans'), url(/HUD/hudatwork/styles/font/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot) format('embedded-opentype'), url(/HUD/hudatwork/styles/font/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

	
	
	
body {
    background-color: #eef3fa;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #000;

}

h1, h2 {
    font-weight: lighter;
    color: #468bc2;
	line-height: 1.2;
}

a:link, a:visited, a:active {
    color: #0161b7;
    text-decoration: none;
}

a:hover {
    color: #00487b;
    text-decoration: none;
}

.content_top a:hover, .content_bottom a:hover, .cotent_left a:hover, .content_right a:hover {
     border-bottom: 1px solid #387FBE;
}

.content_bottom {
    width: 100%;
    display: block;
}


a.learnMoreBtn {
    color: white;
}

.blue_link a:link, .blue_link a:active, .blue_link a:visited {
    color:#3a80be;
    text-decoration: none;
}

.blue_link a:hover {
    color:#00487b;
    text-decoration: none;
}

#nav, #nav_scroll {
    min-height: 50px;
}

#nav_scroll {
   /* border: 2px solid blue;*/
    background-color: ;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
}

#quick_links a:link, #quick_links a:active, #quick_links a:visited {
    text-decoration: none;
    color: #333;
}

#quick_links a:hover {
    border-bottom: 1px solid #ccc;
    color:#ccc;
}

#footer a {
    text-decoration: none;
}

#footer a:link, #footer a:visited, #footer a:active {
    color: #FFF;
}

#page_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    
} 

#header, #nav, #content_wrapper, #pre_footer, #footer {
    max-width: 100%;
}

#pre_footer {
    background-color: #92c583;
    overflow: auto;
    padding: 10px 50px;
}

#footer {
    background-image: url('../images/ftrbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #353434;
    min-height: 99px;
}

#header {
    min-height: 60px;
    background-color: #4c4c4c;
}



#banner {
    background-color: #adadad;
    max-height: 485px;
    padding: 0;
}

#menu_2 {
    opacity: 1.0;
}


#nav {
    background-color: #92c583;
    top: -480px;
    position: relative;
    z-index: 140;
    opacity: 0.97;

}


#content_wrapper {
    background-color: white;
    line-height: 1.75em;
    vertical-align: top;
    margin: 0;
    border: 0;
}

#nav_scroll {
   /* border: 2px solid blue;*/
    background-color: ;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
}

.learnMoreBtn {
    font-size:16px;
    padding: 5px 15px;
    background-color:#4b7899; 
    border-radius:8px;
    color:white; 
    text-decoration:none;
}

.nav_logo {
    width: 100px;
}

.navTopBorder {
    background-color: black;
    min-height: 20px;
    width: 100%;
    position: relative;
    z-index: 140;
    opacity: .7;
}

#content_right:empty {
    width: 0;
    display: none;
}

#content_left {
    float:left;
    width:75%;
    max-width: 100%;
    /*margin: 10px 2% 50px 2%;*/
}

#content_right {
    float:left;
    margin:;
    width:20%;
    max-width: 21%;
    margin: 10px 2% 50px 2%;
}

.banner_table {
    min-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.banner_table a {
    text-decoration: none;
    background-color: #767676;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.banner_table td {
    width: 33%;
    text-align: center;
}

.home_banner {
    text-align: center;
    color:white;
    width: 75%;
    margin: 50px auto;
}

.home_banner h1 {
    color:white;
}

.search_btn{
    padding:3px 0;
}

.search_btn2 {
    padding: 0;
}

 .date_header {
        float:left;
        font-size: 12px;
        color:#FFF;
        width: 250px;
        padding:19px;
    }
.search_box {
    float: right;
    padding: 1px 50px 1px 0;
    z-index: 201;
}

.search_box2 {
    float: right;
    padding: 1px 50px 1px 0;
    z-index: 201;
}

.topicons {
    float: right;
    padding: 10px 50px 10px 0;
}

.search_box_menu {
    float: right;
    padding: 6px 5px 14px 5px;
    background-color: #4c4c4c;
    height: 31px;
}

.searchbox_tablet {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
    background-color: #4c4c4c;
    height:46px;
}

.searchbox_popup {
    background-color: #4c4c4c;
    margin:0 auto;
    text-align: center;
    padding:100px 20px;
    min-height: 400px;
}

.searchbox_popup input {
    -moz-box-shadow:    inset 0 0 10px #cac8c8;
   -webkit-box-shadow: inset 0 0 10px #cac8c8;
   box-shadow:         inset 0 5px 10px #cac8c8;
   padding: 7px;
   color: #5b5b5b;
   border: none;
   border-radius: 10px;
}

.scroll_nav_wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 50px;
    background-color: #92c583;
    border-bottom: 1px solid #92c583;
    font-size: 14px;
}

.show {
    display:none;
}

.pf_title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.pf_title h2 {
    color: #eef3fa;
}

.quicklinks_left {
    width: 55%;
    float: left;
    min-width: 200px;
}

.quicklinks_right {
    width: 45%;
    float: left;
    min-width: 200px;
}

 .quicklinks_table th {
    color: white;
    text-align: left;
    font-weight: 300;
 }

 .quicklinks_table td {
    color: #4c4c4c;

 }

 .quicklinks_table {
    width: 100%;
    font-size: 12px;
 }

 .ftr_content {
    color: #adadad;
    font-size: 12px;
    padding:10px;
 }

 .data_section {
    margin-top:20px;
    margin-bottom:20px;
    display:inline-block;
    width: 100%;
 }

 .section_header {
 /*   background-color: #ebebeb;*/
    width: 100%;

 }

 .section_header h1 {
    color: #62b972;
 }

 .down_arrow_image {
    background-color: white;
    width: 100%;
 }

 #slidingDiv1, #slidingDiv2, #slidingDiv3, #slidingDiv4 {
    display: none;
 }

 .no_indent li {
    text-indent: none;
    list-style: none;
 }

 .no_indent {
    padding: 0;
 }

 #preftr_mobile {
    text-align: center;
 }

#preftr_mobile li {
    padding: 5px;
}

#preftr_mobile a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
}

#quick_links {
    display: none;
    background-color: #878787;
    width: 50%; 
    position: absolute;
    z-index:500;
    padding:20px;
/*    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
}

.quick_links {
    float:right;
    display: block;
    padding:0px 0px 0px 0;
    width: 160px;


}

.quick_links a.qtoggle {
      /*background:#333;*/
      text-decoration: none;
      padding:3px 5px;
      color: #FFF;
      font-size: 14px;
     /* border-top-right-radius:10px;
      border-bottom-left-radius:10px;*/
}

.quick_links a.qtoggle:hover, .quick_links a.qtoggle:active {
       color:white;
       /*background-color: #64625f;*/
    }

.quick_links a.qtoggle2 {
      /*background:#333;*/
      text-decoration: none;
      padding:3px 5px;
      color: #FFF;
      font-size: 14px;
     /* border-top-right-radius:10px;
      border-bottom-left-radius:10px;*/
}

.quick_links a.qtoggle2:hover, .quick_links a.qtoggle2:active {
       color:white;
       /*background-color: #64625f;*/
    }

.quick_links_mobile td {
    text-align: center;
}

.wide100 {
    width: 92%;
}

.wide50 {
    width: 42%;
    min-width: 200px;
}

.wide33 {
    float:left;
    width: 25%;
    min-width: 200px;
}

.area_title {
    font-size: 20px;
    color: #29a544;
    padding: 20px 0 0 0;    
}

.area_title2 {
    font-size: 20px;
    color: #29a544;
    padding: 0 0 0 0;    
}

.area_title_white {
    font-size: 20px;
    color: white;
    padding: 20px 0;    
}



.content_block {
    float:left;
    margin: 0 4%;
}

.content_block_home{
    float:left;
    margin: 0 37px;
}

.bldg_bg {
    background-image: url('../images/hudbldng.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 314px;
}

.table_officeInfo a, .table_officeInfo a:link, .table_officeInfo a:active,
.table_officeInfo a:visited {
    color: #3a80be;
    font-size: 14px;
    text-decoration: none;
}

.table_officeInfo a:hover {
    color: #00487b;
}

.table_officeInfo td {
    padding: 1px 5px 1px 0;
}

.table_officeInfo {
    padding-top: 10px;
}


.table_links a, .table_links a:link, .table_links a:active,
.table_links a:visited {
    color: #3a80be;
    font-size: 14px;
}

.table_links a:hover {
    color: #00487b;
    text-decoration: none;
}

.table_links {
    width: 100%;
    padding-top:10px;
}

.table_links td:first-child {
   /* padding: 3px 0;*/
    width: 50%;
}

.table_links a {
    font-size: 13px!important;
}


.status_img {
    width: 350px;
}

.status_block {
    float:right; 
    padding:0 0 0 20px;
}

.transforming {
    background :#1f1f1f url('../images/bottom_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    min-height: 600px;
}

.trans_header {
    width: 100%;
    text-align: center;
	background: none repeat scroll 0% 0% #92C583;
    font-size: 26px;
    padding: 20px 0;
    color: white;
}

.trans_block {
    float: left;
    width: 40%;
    margin:5% 5% 0 5%;
}

.footer_table {
    font-size: 12px;
    margin-right: 15%;
    float:right;
}


.footer_block_left {
    float:left;
    width:50%;
    margin-top:36px;
    margin-bottom::; 
    margin-left:-4%;
    margin-right:2%;
}

.footer_block_left td {
    padding:0 15px;
}

.footer_block_right {
    float:right;
    width:45%;
    margin:28px 0% 2% 0%;
}

#header img {
    border: none;
}

#footer img {
    border: none;
}

.ftr_copy {
    float:right; 
    padding:10px 30px 10px 10px; 
    font-size:12px;
}


.td70 {
    width: 70%!important;
}

.ttlbg {
    background-color: #d1e5ca;
    width: 100%;
    padding:10px 0 0px 0;
}

#ttlpos {
   padding:0 20px;
   font-weight: 900;
   font-size: 1.2em;
   color: #333a32;
}

.genlink {
    background-color: #eef6eb;
    padding:5px 0 10px 0;
}

.genlink li {
    list-style: none;
}

.genlink ul {
    margin:0;
    padding:0 0 0 20px;
}









/*targeting IE 9, 10, and 11*/
@media screen and (min-width:0\0) { 
    .searchBoxTable input {
    padding:4px 0 6px 0;
    border: 0;
}
}

/*  ==========================================================================
    Status Widget styling
    ========================================================================== */

    .widget_container {
        width: 350px;
        height: 150px;
        background-color: #e8ffe2;
        border-radius: 10px;
        -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75)
      
        
    }
    

        
    }

    #location {
        font-family: sans-serif;
        font-size: 14px;
        margin-left: 15px;
        padding: 5px 0px 0px 0px;    
       
    }
    
    #status {
         color: #7ba01d;
         font-weight: 700;
         font-size: 10px;
         font-family: sans-serif;
    
         padding:10px 0px 5px 0px; 
         
    }
    
    #message {
        color: #7ba01d;
        font-family: sans-serif;
        font-size: 10px;
        line-height: 1.75em;
      
    }
    
    #appliesto {
            font-weight: 800;
            font-family: sans-serif;
            font-size: 10px;
          /*  margin-left: 10px;*/
            line-height: 2em;
        
    }

    .widget_info {
        float: left;
        width: 255px;
        margin:10px;
        line-height: .8em;
    }

    .check {
        float: right;
        padding: 30px 5px 0 0;
    }



/*  ==========================================================================
    Slide Show Styling
    ========================================================================== */

.slideshow_learnmore {
   /* position: absolute;*/
    top: 100;
    margin:0 auto;
    width: 200px;
    left: 500;
}

.slideshow_title {
    font-size: 28px;
    font-weight: 300;
    color: white;
}

.slideshow_description {
    margin: 10px auto;
    width: 600px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
}

/*bullet navigator container */

/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
    filter: alpha(opacity=70);
    opacity: .7;
    overflow:hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }


 /* jssor slider arrow navigator skin 05 css */
                    /*
                    .jssora05l              (normal)
                    .jssora05r              (normal)
                    .jssora05l:hover        (normal mouseover)
                    .jssora05r:hover        (normal mouseover)
                    .jssora05ldn            (mousedown)
                    .jssora05rdn            (mousedown)
                    */
                    .jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
                    {
                        position: absolute;
                        cursor: pointer;
                        display: block;
                        background: url( ../images/a17.png) no-repeat;
                        overflow:hidden;
                    }
                    .jssora05l { background-position: -10px -40px; }
                    .jssora05r { background-position: -70px -40px; }
                    .jssora05l:hover { background-position: -130px -40px; }
                    .jssora05r:hover { background-position: -190px -40px; }
                    .jssora05ldn { background-position: -250px -40px; }
                    .jssora05rdn { background-position: -310px -40px; }

/* jssor slider bullet navigator skin 21 css */
            /*
            .jssorb21 div           (normal)
            .jssorb21 div:hover     (normal mouseover)
            .jssorb21 .av           (active)
            .jssorb21 .av:hover     (active mouseover)
            .jssorb21 .dn           (mousedown)
            */
            .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
            {
                background: url(../images/b14.png) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb21 div { background-position: -5px -5px; }
            .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
            .jssorb21 .av { background-position: -65px -5px; }
            .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

/*  ==========================================================================
    Default Styling
    ========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    border: 0;
    border-top: 3px solid #EBEBEB;
    margin: 0 2%!important;
    padding: 0;
    width: 96%;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers:
 */

audio, canvas, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*  ==========================================================================
    Helper classes 
    ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.search_input {
	vertical-align:middle;
	border:none;
	padding: 0px;
	position:relative;
	margin:0px;
	left:-4px;
	width:24px;
	}
	


/*  ==========================================================================
    Print styles.
    ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}