::selection {
    background-color:#AC0B0B;
    color:#ffffff;
}

.blockquote {
    border-left:4px solid #446CB3;
    padding-left:10px;
}

.masthead {
    margin-bottom:2em;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
    margin-right:30px;
}

.home-page-col {
    text-align: center;
}

.add-margin {
    margin-top: 4em;
    margin-bottom: 4em;
}

.case-study:hover {
    background-color: #efefef;
    border: 1px dotted #AC0B0B;
}

.col-8 {
    margin-bottom:2em;
}

.text-center {
    margin-bottom:2em;
}

.special-link {
    font-size:2em;
    border-bottom:none;
}

a {
    color: #AC0B0B;
}

a:hover {
    text-decoration: none;
    color: rgb(146, 45, 45);
}

.img {
    max-width: 100%;
    height: auto;
}

.rounded-img {
    border-radius:50%;
}