::selection {
    background-color:#AC0B0B;
    color:#ffffff;
}

.blockquote {
    border-left:4px solid #446CB3;
    padding-left:10px;
}

.add-margin {
    margin-top: 4em;
    margin-bottom: 4em;
}

.case-study:hover {
    background-color: #efefef;
    border: 1px dotted #AC0B0B;
}

.col-8 {
    margin-bottom:2em;
}

.text-center {
    margin-bottom:2em;
}

.special-link {
    font-size:2em;
    border-bottom:none;
}