<a href="#/work">&larr;Show all work</a>
<h1>Lambeth Council (London, UK)</h1>
<p class="summary-highlight">Lambeth Council in London needed a new way to support making decisions based on collected council data. They did not have data visualization software in use, so we started from scratch.</p>

<p>This was an group project for my Design Experience class, so the presentation was a team effort. However, the prototyping and testing sections feature much of my own work.</p>

<h2>My role</h2>
<ul>
    <li>brainstorming and desk research</li>
    <li>sketching</li>
    <li>prototyping</li>
    <li>usability testing with council members</li>
</ul>

<iframe src="https://docs.google.com/presentation/d/10ZYeAnOlzNMjrKHNeYmvBqb5lwsaalKXIL-J-i2Ljng/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>