/* Structure */
body {
  /*margin-top: 5%;*/
  }

.special-header {
  background: #4078c0;
  font-size: 1.5rem;
  padding: 1%;
}

/* Menu  */
.main-nav {
    list-style-type: none;
    margin: 0;
    margin-bottom:5%;
    padding: 0;
}

.main-nav li {
    display: inline;
    margin-right: 10px;
}

.main-nav li:last-child {
  margin-right:0px;
}

.main-nav a {
  text-decoration: none;
  border-bottom: 1px solid #4078c0;
}

footer { margin-top:5%; }