/* Structure */
body {
  margin-top: 5%;
  }

/* Menu  */
ul.main-nav {
    list-style-type: none;
    margin: 0;
    margin-bottom:15%;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

li:last-child {
  margin-right:0px;
}